@media (min-width: 576px) {
	.slider-text__btn {
		font-size: 1rem;
	}
	.slider-text__btn-shadow {
		top: -0.7rem;
		left: 7.2rem;
		padding: 0.5rem 6rem; 
	}
	.slider__img {
		max-width: 100%;
		max-height: 100%;
		position: initial;
	}
}

@media (min-width: 769px) {

}