@media screen and (max-width: 35.99875rem) {
	.bgskewed {
		height: 100%;
		background-position-y: top;
		background-position-x: 80.5rem;
		@media screen and (max-width: 29.688rem) {
			background-position-x: 74.5rem;	
		}
		@media screen and (max-width: 25rem) {
			background-position-x: 71.5rem;		
		}
		@media screen and (max-width: 20rem) {
			background-position-x: 67.5rem;	
		}
		background-repeat: initial;
	}
	.slider-text {
		align-items: center;
		justify-content: center;
		&__text {
			text-align: center;
		}
		&__btn {
			font-size: 1rem;
			&_shadow {
				left: 4rem;
				padding: .5rem 6rem;
				top: -0.5rem;
			}
		}
	}
	.slider__img {
		position: inherit;
		max-width: 100%;
		height: 100%;
	}
	.slider-footer {
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: inherit;
		margin-top: 6rem;
		&__text {
			transform: rotate(0);
			font-size: 1rem;
			text-align: center;
			max-width: 100%
		}
	}
	.social-links {
		flex-direction: row;
		&__item {
			&:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}
	.about-us {
		margin-top: 2rem;
		flex-direction: column;
		&__img {
			max-width: 100%;
		}
	}
	.content {
		&__header {
			text-align: center;
			font-size: 3rem;
			margin-top: 1rem;
		}		
		&__desc {
			text-align: center;
			font-size: 1rem;
		}
		&__position {
			margin-bottom: 2rem;
		}
		&_squeezed {
			padding: 0;
		}
	}
	.button {
		&__text {
			&_big {
				font-size: 1.4rem;
				left: 0;
			}
		}
		&__shadow {
			&_big {
				left: -1rem;
				top: -4.5rem;
				width: 15.4rem;
				height: 2.5rem;
			}
		}
		&_left {
			margin-left: 1rem;
			margin-top: 3.688rem;
		}
		&_right {
			margin-top: 3.688rem;
		}
	}
	.popular {
		&__header {
			margin-top: 4rem;
			text-align: center;
			font-size: 3rem;
		}
	}
	.popular-items {
		flex-direction: column;
		margin-top: 2.375rem;
	}
	.popular-item {
		&__price {
			margin-bottom: 1.5625rem;
		}	
	}
	.pre-collection {
		margin-top: 2rem;
		flex-direction: column-reverse;
		&__img {
			transform: none;
			max-width: 100%;
		}
	}
	.testimonial {
		&:before {
			visibility: hidden;
		}
		&:after {
			visibility: hidden;
		}
	}
	.blog {
		margin-top: 2rem;
	}
	.controls {
		margin-top: 4.125rem;
	}
	.container {
		flex-direction: column;
		&__img {
			max-width: 100%;
			position: inherit;
			margin-top: 2rem;
		}
	}
	.footer {
		margin-top: 2rem;
		&__divider {
			&_top {
				margin-bottom: 1rem;
			}
		}
	}
	.footer-elements {
		flex-direction: column;
		align-items: center;
	}
	.footer-nav {
		align-items: center;
		margin-top: 1rem;
		&_link {
			margin-bottom: 1rem;
		}
	}
	.subscribe {
		align-items: center;
		margin-top: 1rem;
		&__input {
			margin-right: 0;
			margin-top: 1rem;
			width: 13.625rem;
		}
		&__btn {
			margin-top: 1rem;
		}
	}
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.copyright {
		flex-direction: column;
		&__text {
			&:not(:first-child) {
				margin-top: 1rem;
			}
		}
	}
}

@media screen and (min-width: 36rem) and (max-width: 47.99875rem) {
	.bgskewed {
		height: 100%;
		background-position-y: top;
		background-position-x: 82rem;
		background-repeat: initial;
	}
	.wrapper {
		max-width: 90%;
	}
	.slider-text {
		align-items: initial;
		&__text {
			text-align: initial;
		}
	}
	.slider {
		&__img {
			max-width: 100%;
			height: 100%;
			top: -5rem;
		}
	}
	.popular-items {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.slider-footer {
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: inherit;
		&__text {
			transform: rotate(0);
			font-size: 1.5rem;
			text-align: center;
			line-height: 1.5rem;
			width: 100%;
		}
	}
	.social-links {
		flex-direction: row;
		&__item {
			&:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}
	.about-us {
		margin-top: 2rem;
		flex-direction: column;
		&__img {
			max-width: 100%;
		}
	}
	.content {
		&__header {
			text-align: center;
			font-size: 3rem;
			margin-top: 2rem;
		}		
		&__desc {
			text-align: center;
			font-size: 1rem;
		}
		&__position {
			margin-bottom: 2rem;
		}
		&_squeezed {
			padding: 0 3rem;
		}
	}
	.popular {
		&__header {
			margin-top: 3rem;
			text-align: center;
		}
	}
	.popular-item {
		&__price {
			margin-bottom: 2rem;
		}
	}
	.pre-collection {
		margin-top: 3rem;
		flex-direction: column-reverse;
		&__img {
			transform: none;
			max-width: 100%;
		}
	}
	.testimonial {
		&:before {
			visibility: hidden;
		}
		&:after {
			visibility: hidden;
		}
	}
	.blog {
		margin-top: 3rem;
		&__title {
			font-size: 3rem;
		}
	}
	.container {
		flex-direction: column;
		&__img {
			max-width: 100%;
			position: inherit;
			margin-top: 2rem;
		}
	}
	.controls {
		margin-top: 4.125rem;
	}
	.footer-nav__link {
        text-align: center;
    }
	.footer-elements {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.subscribe {
		flex-grow: 1;
		align-items: center;
		margin-top: 2rem;
		flex-basis: 100%;
	}
}