.bgskewed {
	background: url('../img/bg-skew.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 100%;
	height: 58.3125rem;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

